.form_input {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 5% 5%;

}
.control{
margin: .5rem 0;
   
}
.control label{
padding:  4px 0;
display: block;
font-weight: 500;
}
.control input{
    width: 100%;
    border: none;
    width: 100%;
    text-align: left;
    padding: .5rem;
    outline:none;
    background: #e8f9ed;
    border-radius: 4px;
}
.form_input button{
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #9f5ccc;
    border: 1px solid #9f5ccc;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
    margin-top: 3rem;
}
.control input:focus{
    border-bottom: 2px solid grey;
}